
.cursor{ 
cursor:pointer; 
color:#fff; 
font-size: 50px !important;
} 
.cursor:hover{ 
    color:#d81e8b!important; 
} 
.text-decoration-none{ 
text-decoration: none!important; 
    color: #fff; 
} 
.MuiAppBar-colorPrimary{ 
background: #ffcbdb
!important 
} 
.MuiTypography-h6{ 
font-family:  'Red Hat Display', sans-serif!important; 
font-weight: 700!important; 
gap: 20!important; 
} 
.nomeBlog{ 
font-family: 'Red Hat Display', sans-serif!important;
font-weight: 900!important;  
font-size: 50px; 
}


