
.box1{
    height: 120px;
    background-color: #ffcbdb;
}
.redes{
    font-size: 60px!important;
    color:#fff;
}
.box2{
    height: 60px;
    background-color: var(--secondary-color);
}
.textos{
    color:#d81e8b!important;
}