@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
:root{
    background-color: rgb(247, 239, 240);
}
/* .caixa{ */
    /* direction: row; */
    /* justify-content: center; */
    /* align-items:center; */
    /* background-color: var(--primary-color); */

/* } */

.titulo{
    color: rgb(210, 20, 156);
    font-family: 'Red Hat Display' sans-serif;
    font-weight: 900!important;
}
.apresentacao{
    color: rgb(210, 20, 156)!important;
    font-family: 'Red Hat Display' sans-serif!important;
    font-size: 1.2rem!important;
    font-weight: 500!important;
    margin: 2.5rem!important;
}
.botao{
        
        color: #fff!important;
        
        
}
.postagens{
    background-color: #fff;
    
}